<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides  [options]="slideOpts">
    <ion-slide>
       <div> <h1>Slide 1</h1></div>
      <div><ion-img style="width:80%" src="https://upload.wikimedia.org/wikipedia/commons/d/d7/H%C3%A0bit_Saludable.jpg" ></ion-img>
        </div>    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1><br>
      <ion-img style="width:80%" src="https://ep01.epimg.net/deportes/imagenes/2019/06/12/actualidad/1560324240_534030_1560357268_noticia_normal.jpg" ></ion-img>

    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1><br>
      <ion-img style="width:80%" src="https://img.bleacherreport.net/img/images/photos/002/230/031/RAW_1035_Photo_206_crop_north.jpg?1364324279&w=630&h=420" ></ion-img>

    </ion-slide>
  </ion-slides>

</ion-content>
